<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neu.cs6510.pnnl.hunting.mapper.Ahu3ThresholdsMapper">
  <resultMap id="BaseResultMap" type="edu.neu.cs6510.pnnl.hunting.model.Ahu3Thresholds">
    <!--@mbg.generated-->
    <!--@Table ahu3_thresholds-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="exhaust_air_flow_set_point" jdbcType="DOUBLE" property="exhaustAirFlowSetPoint" />
    <result column="minimum_outdoor_air_flow" jdbcType="DOUBLE" property="minimumOutdoorAirFlow" />
    <result column="minimum_outdoor_air_flow_set_point" jdbcType="DOUBLE" property="minimumOutdoorAirFlowSetPoint" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, exhaust_air_flow_set_point, minimum_outdoor_air_flow, minimum_outdoor_air_flow_set_point
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ahu3_thresholds
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from ahu3_thresholds
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="edu.neu.cs6510.pnnl.hunting.model.Ahu3Thresholds" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ahu3_thresholds (exhaust_air_flow_set_point, minimum_outdoor_air_flow, 
      minimum_outdoor_air_flow_set_point)
    values (#{exhaustAirFlowSetPoint,jdbcType=DOUBLE}, #{minimumOutdoorAirFlow,jdbcType=DOUBLE}, 
      #{minimumOutdoorAirFlowSetPoint,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="edu.neu.cs6510.pnnl.hunting.model.Ahu3Thresholds" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ahu3_thresholds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="exhaustAirFlowSetPoint != null">
        exhaust_air_flow_set_point,
      </if>
      <if test="minimumOutdoorAirFlow != null">
        minimum_outdoor_air_flow,
      </if>
      <if test="minimumOutdoorAirFlowSetPoint != null">
        minimum_outdoor_air_flow_set_point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="exhaustAirFlowSetPoint != null">
        #{exhaustAirFlowSetPoint,jdbcType=DOUBLE},
      </if>
      <if test="minimumOutdoorAirFlow != null">
        #{minimumOutdoorAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="minimumOutdoorAirFlowSetPoint != null">
        #{minimumOutdoorAirFlowSetPoint,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.cs6510.pnnl.hunting.model.Ahu3Thresholds">
    <!--@mbg.generated-->
    update ahu3_thresholds
    <set>
      <if test="exhaustAirFlowSetPoint != null">
        exhaust_air_flow_set_point = #{exhaustAirFlowSetPoint,jdbcType=DOUBLE},
      </if>
      <if test="minimumOutdoorAirFlow != null">
        minimum_outdoor_air_flow = #{minimumOutdoorAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="minimumOutdoorAirFlowSetPoint != null">
        minimum_outdoor_air_flow_set_point = #{minimumOutdoorAirFlowSetPoint,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.neu.cs6510.pnnl.hunting.model.Ahu3Thresholds">
    <!--@mbg.generated-->
    update ahu3_thresholds
    set exhaust_air_flow_set_point = #{exhaustAirFlowSetPoint,jdbcType=DOUBLE},
      minimum_outdoor_air_flow = #{minimumOutdoorAirFlow,jdbcType=DOUBLE},
      minimum_outdoor_air_flow_set_point = #{minimumOutdoorAirFlowSetPoint,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>