<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neu.cs6510.pnnl.hunting.mapper.TableUtilMapper">
  <select id="existTable" parameterType="String" resultType="Integer">
    select count(*)
    from information_schema.TABLES
    where LCASE(table_name)=#{tableName}
  </select>

  <update id="createNewVavTable" parameterType="String">
    CREATE TABLE ${vavTableName} (
    ID                                 int auto_increment
    primary key,
    zone_air_flow                      int         null,
    zone_cooling_air_flow_set_point    double      null,
    zone_cooling_temperature_set_point double      null,
    zone_heating_temperature_set_point double      null,
    zone_temperature                   double      null,
    ahu1_id                            int         null,
    ahu3_id                            int         null,
    vav_name                           varchar(60) null)
  </update>


  <update id="createNewVavThresholdsTable" parameterType="String">
    CREATE TABLE ${vavTableName} (
    ID                             int auto_increment
    primary key,
    maximum_zone_air_flow          double           null,
    minimum_zone_air_flow          double           null,
    zone_air_flow_set_point_offset double default 0 null,
    zone_reheat_air_flow           double           null,
    ahu1_id                        int              null,
    ahu3_id                        int              null,
    vav_name                       varchar(60)      null
    )
  </update>
</mapper>