<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neu.cs6510.pnnl.hunting.mapper.VavThresholdsMapper">
  <resultMap id="BaseResultMap" type="edu.neu.cs6510.pnnl.hunting.model.VavThresholds">
    <!--@mbg.generated-->
    <!--@Table vav_thresholds-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="maximum_zone_air_flow" jdbcType="DOUBLE" property="maximumZoneAirFlow" />
    <result column="minimum_zone_air_flow" jdbcType="DOUBLE" property="minimumZoneAirFlow" />
    <result column="zone_air_flow_set_point_offset" jdbcType="DOUBLE" property="zoneAirFlowSetPointOffset" />
    <result column="zone_reheat_air_flow" jdbcType="DOUBLE" property="zoneReheatAirFlow" />
    <result column="ahu1_id" jdbcType="INTEGER" property="ahu1Id" />
    <result column="ahu3_id" jdbcType="INTEGER" property="ahu3Id" />
    <result column="vav_name" jdbcType="VARCHAR" property="vavName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, maximum_zone_air_flow, minimum_zone_air_flow, zone_air_flow_set_point_offset, 
    zone_reheat_air_flow, ahu1_id, ahu3_id, vav_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from vav_thresholds
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from vav_thresholds
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="vavThresholds.id" parameterType="edu.neu.cs6510.pnnl.hunting.model.VavThresholds" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into ${vavTableName} (maximum_zone_air_flow, minimum_zone_air_flow,
      zone_air_flow_set_point_offset, zone_reheat_air_flow, 
      ahu1_id, ahu3_id, vav_name
      )
    values (#{vavThresholds.maximumZoneAirFlow,jdbcType=DOUBLE}, #{vavThresholds.minimumZoneAirFlow,jdbcType=DOUBLE},
      #{vavThresholds.zoneAirFlowSetPointOffset,jdbcType=DOUBLE}, #{vavThresholds.zoneReheatAirFlow,jdbcType=DOUBLE},
      #{vavThresholds.ahu1Id,jdbcType=INTEGER}, #{vavThresholds.ahu3Id,jdbcType=INTEGER}, #{vavThresholds.vavName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="edu.neu.cs6510.pnnl.hunting.model.VavThresholds" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into vav_thresholds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maximumZoneAirFlow != null">
        maximum_zone_air_flow,
      </if>
      <if test="minimumZoneAirFlow != null">
        minimum_zone_air_flow,
      </if>
      <if test="zoneAirFlowSetPointOffset != null">
        zone_air_flow_set_point_offset,
      </if>
      <if test="zoneReheatAirFlow != null">
        zone_reheat_air_flow,
      </if>
      <if test="ahu1Id != null">
        ahu1_id,
      </if>
      <if test="ahu3Id != null">
        ahu3_id,
      </if>
      <if test="vavName != null">
        vav_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maximumZoneAirFlow != null">
        #{maximumZoneAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="minimumZoneAirFlow != null">
        #{minimumZoneAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="zoneAirFlowSetPointOffset != null">
        #{zoneAirFlowSetPointOffset,jdbcType=DOUBLE},
      </if>
      <if test="zoneReheatAirFlow != null">
        #{zoneReheatAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="ahu1Id != null">
        #{ahu1Id,jdbcType=INTEGER},
      </if>
      <if test="ahu3Id != null">
        #{ahu3Id,jdbcType=INTEGER},
      </if>
      <if test="vavName != null">
        #{vavName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.cs6510.pnnl.hunting.model.VavThresholds">
    <!--@mbg.generated-->
    update vav_thresholds
    <set>
      <if test="maximumZoneAirFlow != null">
        maximum_zone_air_flow = #{maximumZoneAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="minimumZoneAirFlow != null">
        minimum_zone_air_flow = #{minimumZoneAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="zoneAirFlowSetPointOffset != null">
        zone_air_flow_set_point_offset = #{zoneAirFlowSetPointOffset,jdbcType=DOUBLE},
      </if>
      <if test="zoneReheatAirFlow != null">
        zone_reheat_air_flow = #{zoneReheatAirFlow,jdbcType=DOUBLE},
      </if>
      <if test="ahu1Id != null">
        ahu1_id = #{ahu1Id,jdbcType=INTEGER},
      </if>
      <if test="ahu3Id != null">
        ahu3_id = #{ahu3Id,jdbcType=INTEGER},
      </if>
      <if test="vavName != null">
        vav_name = #{vavName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.neu.cs6510.pnnl.hunting.model.VavThresholds">
    <!--@mbg.generated-->
    update vav_thresholds
    set maximum_zone_air_flow = #{maximumZoneAirFlow,jdbcType=DOUBLE},
      minimum_zone_air_flow = #{minimumZoneAirFlow,jdbcType=DOUBLE},
      zone_air_flow_set_point_offset = #{zoneAirFlowSetPointOffset,jdbcType=DOUBLE},
      zone_reheat_air_flow = #{zoneReheatAirFlow,jdbcType=DOUBLE},
      ahu1_id = #{ahu1Id,jdbcType=INTEGER},
      ahu3_id = #{ahu3Id,jdbcType=INTEGER},
      vav_name = #{vavName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByVavTableName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ${vavThresholdsName}
    where ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>